.footer{
    width: 100%;
    padding: 4em;
    text-align: center;
}
.caja{
    display: inline-block;
    text-decoration: underline;
    padding-left: 1em;
    padding-right: 1em;
}
#proyecto{
    margin-top: 2em;
    text-align: center;
    font-size: medium;
    font-weight: bold;
}