
  <div class="nav-parent" style="margin-bottom: 150px;">
    <nav class="navbar py-2 px-2 navbar-light fixed-top shadow-sm" style="background-color: #e3f2fd;">
        <div class="container justify-content-between px-3">
            <a class="navbar-brand" href="#">
                <img src="./../../../assets/logo/TermoLogo.png" alt="logo-alargado" class="logo-alargado logo-img" id="img-1">
            </a>
            <div>
                <h2 class="display-6 fs-4">Termodinámica</h2>
            </div>
        </div>
    </nav>
</div>