<div class="nav-parent" style="margin-bottom: 160px;">
    <nav class="navbar py-2 px-2 navbar-light fixed-top shadow-sm" style="background-color: #B8BDB5;">
        <div class="container justify-content-between px-3">
            <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="navbar-brand">
                <img src="./../../../assets/logo/TermoLogo.png" alt="logo-alargado" class="logo-alargado logo-img" id="img-1">
            </a>
            <div>
                <h2>Termodinámica</h2>
            </div>
        </div>
    </nav>
</div>