<div class="container">
    <div class="row">
        <div class="col-git 12 col-md-11 col-lg-10 mx-auto">
            <a [routerLink] = "['/']" routerLinkActive = "router-link-active">
            <button type="button" class="btn btn-secondary"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                </svg>
                <span class="" aria-hidden="true">  Retroceder</span>
            </button>
            </a>
            <div class="card my-5 py-4 mx-auto text-center shadow">
                <div>
                    <h2 class="display-5">Detalle</h2>
                    <div class="row">
                        <div class="col-11 col-sm-10 mx-auto mt-3">
                            <div class="card text-center mb-5">
                                <div class="card-header bg-primary text-white fs-5" >{{concept.nombre}}</div>
                                    <div class="card-body py-4">
                                        <div>
                                            <h3 class="display-5 fw-bold fs-5">Descripción</h3>
                                            <p class="card-title">{{concept.descripcion_larga}}</p>    
                                        </div>
                                        <div *ngIf="concept.imagen_formula != ''">
                                            <h3 class="display-5 fw-bold fs-5 mt-4">Formula</h3>
                                            <img  class="my-3 img-fluid" src="{{concept.imagen_formula + '.jpg'}}"  alt="" style="max-height: 100px;">
                                        </div>
                                        <div *ngIf="concept.notas != ''">
                                            <h3 class="display-5 fw-bold fs-5 mt-4">Notas</h3>
                                            <p class="card-text">
                                                {{concept.notas}}
                                            </p>
                                        </div>
                                        <div *ngIf="concept.simbologia != ''">
                                            <h3 class="display-5 fw-bold fs-5 mt-4">Simbologia</h3>
                                            <p class="card-text">
                                                {{concept.simbologia}}
                                            </p>
                                        </div>
                                        <div *ngIf="concept.imagen_ejemplo != ''">
                                            <h3 class="display-5 fw-bold fs-5 mt-4">Ejemplo</h3>
                                            <img  class="my-4 img-fluid" src="{{concept.imagen_ejemplo + '.jpg'}}"  alt="" style="max-height: 150px;">
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>