@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.banner{
    padding: 70px 0;
    background: #C3DBC5;
    font-family: 'Great Vibes', cursive;
    img{
        max-height: 150px;
    }
    h2{
        font-size: calc(3em + 1.5vw)!important;
    }
}