.banner{
    padding: 70px 0;
    background: #E0E2DB;
    font-family: 'Great Vibes', cursive;
    img{
        max-height: 150px;
    }
    h2{
        font-size: calc(3em + 1.5vw)!important;
    }
}